body {
  font-family: 'Inter', Arial, sans-serif;
  padding: 1rem;
}

.container {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}